<div class="main-menu h-100">
      <div class="color">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand text-white" href="/">TODOS POR UM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i><span class="text-white"></span>MENU</button>
        
        <div class="collapse navbar-collapse" id="studioMenu">
          <ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/">Home<span class="sr-only">(current)</span></a></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white" href="/login">Entrar</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white" href="/signup">Cadastrar</a>
            </li>
          </ul>
          {{!-- <!-- Search Form -->
          <div class="header-search-form ml-auto">
                <form action="#">
                    <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                    <input class="d-none" type="submit" value="submit">
                </form>
            </div> --}}
      </nav>
      </div>
      <section class="welcome-area">
          <div class="carousel h-1000 slide" data-ride="carousel" id="welcomeSlider">
              <!-- Carousel Inner -->
              <div class="carousel-inner h-1000 ">
  
                  <div class="carousel-item h-1000 bg-img1 active">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/aids"><span>Silvia Almeida</span>
                              <p>Portadora de HIV que usa o amor para construir sua família e enfrentar todas as dificuldades. Conecte-se com Silvia e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
  
                  <div class="carousel-item h-1000 bg-img2">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/ansiedade">Luciane Smidt
                              <p>Possui ansiedade porém depois de muitas decisões na vida e muita perseverancia, conseguiu controlar e viver sua vida normalmente. Conecte-se com Luciane e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img3">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/avc">Vera Lúcia
                              <p>Uma mãe que com 55 anos sofreu um AVC e sua filha Tatiana vem contar um pouco de como foi tudo isso. Conecte-se com Tatiana e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img4">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/depressao">Filipe
                              <p>Um pai solteiro que entrou em depressão após a mãe de seu filho o abandorar. Conecte-se com Filipe e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img5">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/diabetes">Kener Assis 
                              <p>Diabético e ciclista, Kener encontrou uma forma de superar com o exercício. Conecte-se com Kener e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img6">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/mama">Vanessa
                              <p>Obteve diagnóstico de cancer de mama ao mesmo período em que descohiu que seria mãe. Conecte-se com Vanessa e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img7">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/obesidade">Nathalia
                              <p>Passou grande parte de sua vida sofrendo do 'efeito sanfona'(chegando a obesidade), mas conseguiu regularizar tudo, depois de muita persistência. Conecte-se com Nathalia e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item h-1000 bg-img8">
                      <div class="carousel-content h-1000">
                          <div class="slide-text">
                            <a class="nav-link text-white section-a" href="/toc">Pietro Navarro
                              <p>Sofreu TOC durante muitos anos até aprender a entender e lidar com isso. Conecte-se com Pietro e sua rede de apoio clicando aqui.</p>
                            </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
              </div>
              <!-- Carousel Indicators -->
              <ol class="carousel-indicators fixed-bottom">
                  <li data-target="#welcomeSlider" data-slide-to="0" class="active bg-img1"></li>
                  <li data-target="#welcomeSlider" data-slide-to="1" class="bg-img2"></li>
                  <li data-target="#welcomeSlider" data-slide-to="2" class="bg-img3"></li>
                  <li data-target="#welcomeSlider" data-slide-to="3" class="bg-img4"></li>
                  <li data-target="#welcomeSlider" data-slide-to="4" class="bg-img5"></li>
                  <li data-target="#welcomeSlider" data-slide-to="5" class="bg-img6"></li>
                  <li data-target="#welcomeSlider" data-slide-to="6" class="bg-img7"></li>
                  <li data-target="#welcomeSlider" data-slide-to="7" class="bg-img8"></li>
              </ol>
          </div>
      </section>
      </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>